/* ========= ThermoSafe — Design Tokens Globais ========= */
:root{
     --ts-bg-color: white;
     --ts-color-blue:#0A3D62;
     --ts-margin-top: 30px;
     --ts-color-verde:MediumAquamarine;
     --ts-color-azul:LightSkyBlue;
     --ts-color-cinza:Silver;
     --ts-font: Outfit, system-ui, Segoe UI, Roboto, Arial, sans-serif;
     --ts-logo-padding: 2px 2px 2px 2px; 
}

@font-face {
     font-family: 'Outfit';
    /*trazendo a fonte*/
     src: url("/assets/font/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
     font-weight: 100 900;
     font-style: normal;
     font-display: swap;
}

