:root{
	--ts-bg-color: white;
	
	
}

body{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: var(--ts-bg-color);
	}

header{
  
  padding: 10px 0px 0px 0px;
  text-align: center;
}

.ts-header{
	border-bottom: 1px solid #e6eef3 ;	
	top:0;
	}

nav {
  margin-top: 20px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#ts-nav {
  background: #0A3D62;
  
}

.ts-btn {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.ts-btn:hover {
  background-color: #ffffff;
  color: green;
  padding: 24px 24px;
}

.ts-visao{
	background: var(--ts-bg-color);
	text-align: center; 
}
	
.ts-caracteristicas{
	background: var(--ts-bg-color);
	text-align: center; 
}

.ts-caracteristicas-container{
	display: flex;
	gap: 5px;
	width: 100%;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;	
}

.ts-kpi{
	flex-grow: 0;
	flex-basis: 32.19%;
	flex-shrink: 0;	
	border: 1px solid #000;
	border-radius: 20px;	
}

.ts-produtos{
	background: var(--ts-bg-color);
	text-align: center;
}

.ts-produtos-container{
	display: flex;
	gap: 5px;
	width: 100%;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
}

.ts-card{
	flex-grow: 0;
	flex-basis: 23.7%;
	flex-shrink: 0;	
	border: 1px solid #000;
	border-radius: 20px;	
}

.ts-slogan{
	background: var(--ts-bg-color);
	text-align: center;
}

button{
	padding: .9rem 1.2rem;
    border-radius: 999px;
    font-weight: 700;
    letter-spacing: .2px;
}

.ts-footer{
	background: gainsboro;
	
}

.ts-container-footer{
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 4px 4px 4px 4px;
	height: 20px;
	margin-top: 10px;
}
	

